a {
  color: #58c0b7;
}

a:hover {
  color: #7f8c8d;
}

.navbar-dark .navbar-nav .nav-link {
    color: #58c0b77a;
}

.logo{
  width: 25%;
}

.navbar{
  background-color: #ecf0f1; 
}

footer {
  padding: 25px 0;
  text-align: center;

}


#sizePicker{
    position: fixed;
   left: 0;
   bottom: 80px;
   width: 100%;
   text-align: center;

}

.footer-bg{
  position: fixed;
    bottom: -2px;
    min-width: 50%;
    width: 100%;
    background-color: #212529;
    margin: 0;
    height: 12vh;
    padding: 10px;
}
footer span.copyright {
  color: #58c0b7;
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer ul.quicklinks {
  color: #58c0b7;
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #58c0b785;
}


.column {
  float: left;
  padding: 0;
  margin: 0;
  height: 398px; /* Should be removed. Only for demonstration */
}

.left {
  border-color: black;
  width: 80%;
}

.right {
  width: 20%;
}

table, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 40px auto;
}

tr {
  height: 7px;
}

td {
  width: 7px;
}

input[type=number] {

    text-align: center;
    width: 2.5em;
    margin: 0;
    border-radius: 5px;
    box-shadow: 2px 2px #000000a8;
    }

input[type=submit] {
  margin:0;
}

.cell{
  padding-right: 22px;
  padding-left: 22px;
  width: 0;
}

.grid{
  padding-left: 22px;
  padding-right: 22px; 
  width:0;
}

.submit,.erase{
  
    font-family: "Montserrat", sans-serif;
    border: 0;
    border-radius: 40px;
    height: 40px;
    background-color: #212529b5;
    color: white;

}
.submit:focus , .erase:focus{
  outline: 0;
}

.submit:hover, .erase:hover{
  background-color: #58c0b785;
  color: #212529;
  transition: 0.2s;
}
.grid:hover, .cell:hover{
  width: 100%;
}
